.header__landing {
  background-image: url("/images/cooking.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 300px;

  &--title{
    color: cadetblue;
    font-style: oblique;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 70px;
    padding: 7px;
  

  }
}

.main__landing {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  

  &--desc {
    font-size: 16px;
    width: 50%;
    line-height: 1.7;
    display: flex;
    gap: 10px;
    flex-direction: column;
    position: absolute;
    bottom: 220px;
   
  }
  &--startBtn {
    border: solid 3px rgb(0, 15, 128);
    color: black;
    background-color: darkgrey;
    border-radius: 10%;
    padding: 5px;
    position: absolute;
    bottom: 100px;
    text-decoration: none;
    
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }
}
.footer__landing{
  // display: flex;
  // justify-content: end;
  // padding: 25px;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  left: 220px;
  
}